.App {
  text-align: center;
}

.App-header {
  background-color: darkblue;
  min-height: 10vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  vertical-align: -webkit-baseline-middle;
}

/* Found on https://stackoverflow.com/questions/4108726/how-to-spread-elements-horizontally-evenly */
.App-header > div {
  display:inline-block;
  display:-moz-inline-box;
  *display: inline;
  zoom: 1;
  width:33%;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
}